#canvas {
  height: 800px;
  width: 1200px;
  border: 3px solid black;
  margin: 0 auto;
  background-image: url(/assets/images/la-casa-de-papel.png);
  cursor: crosshair;
}
.door {
  display: inline-block;
  height: 115px;
  width: 62px;
  border: 3px solid;
  margin-top: 19%;
  margin-left: 0.4%;
}
#door1{
  margin-left:41% ;
}
.doorBrown {
  background-color: brown;
}
.doorBlack {
  background-color: black;
  background-image: url(/assets/images/i0vzlwsusgg31-removebg-preview.png);
  background-size:115px;
  background-position: 70%;
  background-repeat: no-repeat;
}
.door:hover {
  background-color: blue;
}
.snipper {
  height: 50px;
  width: 100px;
  border: 3px solid;
  background-color: rgb(217, 217, 32);
  margin-bottom: 50%;
  display: block;
  margin-top: 25%;
  margin-left: 45%;
}
#live {
  height: 40px;
  width: 120px;
  border-radius: 20px;
  background-color: red;
  margin-top: 3%;
  margin-left: 3%;
  border: 2px solid black;
}
span {
  line-height: 50px;
  margin-left: 16px;
  font-size: 35px;
}
.time {
  color: white;
  height: 40px;
  width: 60px;
  border-radius: 25px;
  background-color: rgb(12, 5, 5);
  margin-top: -50px;
  margin-left: 1050px;
  border: 2px solid grey;
  position: absolute;
  text-align: center;
  line-height: 40px;
}
.placeholder {
  height: 115px;
  width: 62px;
  margin: auto;
  margin-top: 10px;
}
.pantalla-inicio {
  background-image: url(/assets/images/money-heist.jpg);
  background-size: contain;
  height: 850px;
  width: 100%;
  z-index: 99;
}
button {
  height: 50px;
  width: 200px;
  border-radius: 20px;
  background-color: rgb(200, 7, 7);
  display: inline-block;
  margin-top: 40%;
  margin-left: 40%;
}
