#canvas {
  height: 800px;
  width: 1200px;
  border: 3px solid black;
  margin: 0 auto;
  background-color: aquamarine;
}
.door {
  display: inline-block;
  height: 200px;
  width: 100px;
  border: 3px solid;
  margin-top: 10%;
  margin-left: 18%;
}
.doorBrown {
  background-color: brown;
}
.doorBlack {
  background-color: black;
}
.door:hover {
  background-color: blue;
}
.snipper {
  height: 50px;
  width: 100px;
  border: 3px solid;
  background-color: rgb(217, 217, 32);
  margin-bottom: 50%;
  display: block;
  margin-top: 25%;
  margin-left: 45%;
}
#live {
  height: 40px;
  width: 120px;
  border-radius: 20px;
  background-color: red;
  margin-top: 3%;
  margin-left: 3%;
  border: 2px solid black;
}
span {
  line-height: 50px;
  margin-left: 16px;
  font-size: 35px;
}
.time {
  color: white;
  height: 40px;
  width: 60px;
  border-radius: 25px;
  background-color: rgb(12, 5, 5);
  margin-top: -50px;
  margin-left: 1050px;
  border: 2px solid grey;
  position: absolute;
  text-align: center;
  line-height: 40px;
}

.placeholder {
  width: 80px;
  height: 180px;
  border: 3px solid red;
  margin: auto;
  margin-top: 10px;
}
